body {
  background-color: #fff;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 375;
  line-height: 1.875;
  margin: 0;
}
body > div {
  font-size: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: .93em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
ol, ul {
  margin: 0;
  padding: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: .9em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#header {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  min-height: 50px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#header, .wrap {
  max-width: 100%;
}
.wrap {
  max-width: 1250px;
}
#site-container, .wrap {
  margin: auto;
}
#title {
  float: left;
  padding-bottom: 30px;
  padding-left: 10px;
}
#site-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  text-transform: uppercase;
}
#site-title a, #site-title a:hover, #site-title a:focus {
  color: #000;
  text-decoration: none;
}
#nav-primary {
  float: right;
  margin-top: 0px;
  text-align: right;
  padding-right: 3px;
}
#nav {
  clear: both;
  line-height: 1;
  width: 100%;
}
#nav li {
  float: none;
  list-style-type: none;
}
.menu-item {
  display: inline-block;
  text-align: left;
}
#nav a {
  color: #000;
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}
#nav a:hover {
  color: darkgreen;
}
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  clear: both;
  height: fit-content;
  background-color: lightgrey;
  max-width: 1250px;
  margin: auto;
  word-wrap: break-word;
  z-index: 999;
}
#about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 75px;
}
#about-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#about-text h1 {
  font-size: 2em;
  margin-bottom: 0px;
}
#about-text p {
  font-size: 0.7em;
}
#self-photo {
  margin-right: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin-left: 20px;
  padding-top: 60px;
  margin-top: 0px;
}
#projects-anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.description {
  position: relative;
  top: -30px;
}
.project-description {
  text-align: center;
  font-size: 0.75em;
}
#projects h1 {
  margin-bottom: 100px;
}
.project {
  border-radius: 5px;
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 0 20px 20px 0;
  border: 2px solid rgb(0,0,0,0.5);
}
.project-img {
  border-bottom: 2px solid rgb(0,0,0,0.5);
  width: 100%;
  height: 85%;
}
.divider {
  width: 80%;
  border-bottom: 1px solid rgb(0,0,0,0.3);
  padding-top: 20px;
}
#project-anchor {
  padding: 0px;
}
#experience-section {
  text-align: center;
  padding: 60px 0px;
}
#experience-anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
#experience-section h1 {
  margin-bottom: 100px;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 80%;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  font-size: 0.7em;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  resize: none;
}
form textarea {
  height: 82%;
}
#input-submit {
  margin-top: 50px;
  color: white; 
  background: black;
  cursor: pointer;
  width: 100%;
}
#contact-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#contact-input .left {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-right: 2%;
}
#contact-input .right {
  width: 49%;
}
@media only screen and (max-width: 1000px) {
  h1 {
      font-size: 1.5em;
  }
  #site-header {
      width: 100%;
  }
  #title {
      width: 100%;
      padding-bottom: 30px;
      padding-top: 10px;
      padding: 10px 0px 30px 0px;
  }
  #site-title {
      display: flex;
      justify-content: center;
  }
  #nav-primary {
      display: none;
  }
  #about-text {
      width: 80%;
  }
  #about-text h1 {
      font-size: 1em;
  }
  #self-photo {
      margin: 40px 0;
  }
  #projects {
      display: flex;
      flex-direction: column;
      padding-top: 0px;
      margin-top: 40px;
  }
  #contact {
      margin-top: -40px;
  }
  form {
      font-size: 0.75em;
  }
  #contact-input {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  #contact-input input {
      height: 20px;
  }
  #contact-input textarea {
      height: 100px;
      width: 100%;
  }
  #contact-input .left {
    width: 100%;
  }
  #contact-input .right {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 75%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -14px;
  background-color: white;
  border: 1px solid darkgreen;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -25%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .left {
    left: 0%;
  }
}
